---
export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div class={`giscus-wrapper ${className}`}>
  <script
    src="https://giscus.app/client.js"
    data-repo="charles-hood/cdh-astro-blog"
    data-repo-id="R_kgDONhx-tw"
    data-category="Announcements"
    data-category-id="DIC_kwDONhx-t84ClG5J"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</div>

<style>
  .giscus-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>